---
/*
Copyright (C) 2023 Edge of Dusk

This file is part of Digitizer.

Digitizer is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Digitizer is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Digitizer. If not, see <https://www.gnu.org/licenses/>.
*/

import Layout from "../layouts/Layout.astro";
import Back from "../components/Back.astro";
import InfoSection from "../components/InfoSection.astro";
import LinkButton from "../components/LinkButton.astro";
import { Image } from "astro:assets";
import headshot from "../assets/silly_headshot_250.jpg";
import PatreonButton from "../components/PatreonButton.astro";
import LiberapayButton from "../components/LiberapayButton.astro";
---

<Layout title="Privacy Policy">
  <Back />
  <main
    class="mx-auto px-4 py-8 flex flex-col gap-8"
    style="width: clamp(250px, 75ch, 100%);"
  >
    <h1>About</h1>
    <InfoSection title="Development">
      <p>
        Sketchy Boo is developed by me, <a href="https://dusk.monster"
          >Bobby Dusk</a
        > under the company <a href="https://edgeofdusk.com">Edge of Dusk</a>.
      </p>
      <Image
        src={headshot}
        alt="Bobby Dusk"
        width="250"
        height="250"
        class="rounded-xl self-center"
      />
      <p class="text-center italic self-center">Hi. This is me.</p>
    </InfoSection>
    <InfoSection title="Donations">
      <p>
        This tool is provided for free because I help fellow developers and
        artists as much as possible. Please note that I am the sole developer
        and maintainer of this tool and that doing so takes an enormous amount
        of time, not to mention the fact that I have to pay for servers to host
        the application. Therefore, please consider donating through one of the
        following methods.
      </p>
      <br />
      <LiberapayButton />
      <p class="text-center w-8/10 italic self-center">
        If possible, please choose this method, as liberpay is an awesome
        open-source project that leaves us with the greatest amount after fees.
      </p>
      <br />
      <PatreonButton />
      <br />
      <p>
        You can donate directly through a bank transfer to the following
        account:
      </p>
      <p class="self-center">Name: <b>Edge of Dusk</b></p>
      <p class="self-center">IBAN: <b>BE48 9734 5393 0227</b></p>
      <p class="self-center">BIC: <b>ARSPBE22XXX</b></p>
      <p class="self-center italic text-center">
        If you require a donation receipt, please contact us at <a
          href="mailto:info@markan.games"
          target="_blank">info@edgeofdusk.com</a
        >.
      </p>
    </InfoSection>
    <InfoSection title="Legal">
      <p>
        The project is free and open source. The <a
          href="https://https://github.com/BobbyDusk/digitizer-frontend"
          target="_blank">frontend</a
        > is developed under the AGPLv3 license, while the <a
          href="https://github.com/BobbyDusk/digitizer-backend"
          target="_blank">backend</a
        > is developed under the MIT license.
      </p>
      <p>Copyright (C) 2023 Edge of Dusk</p>
      <p>Company Info:</p>
      <ul>
        <li>Name: Edge of Dusk</li>
        <li>
          Website: <a href="https://edgeofdusk.com" target="_blank"
            >edgeofdusk.com</a>
        </li>
        <li>Address: Hopstraat 1, 1742 Ternat, Belgium</li>
        <li>
          Email: <a href="mailto:info@edgeofdusk.com" target="_blank"
            >info@edgeofdusk.com</a
          >
        </li>
        <li>
          VAT Number: <a
            href="https://kbopub.economie.fgov.be/kbopub/toonondernemingps.html?ondernemingsnummer=803864734"
            target="_blank">BE0803.864.734</a
          >
        </li>
      </ul>
    </InfoSection>
  </main>
</Layout>
