---
/*
Copyright (C) 2023 Edge of Dusk

This file is part of Digitizer.

Digitizer is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Digitizer is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Digitizer. If not, see <https://www.gnu.org/licenses/>.
*/

import Layout from "../layouts/Layout.astro";
import App from "../components/App.svelte";
---

<Layout title="Sketchy Boo" showFooter={false}>
  <main>
    <App client:load />
  </main>
</Layout>
<style></style>
