<div class="min-h-24 p-6 flex flex-row justify-evenly items-center bg-black gap-4 text-white flex-wrap">
    <p>© 2024 Edge of Dusk</p>
    <p>Hopstraat 1, 1742 Ternat</p>
    <a
        href="https://kbopub.economie.fgov.be/kbopub/toonondernemingps.html?ondernemingsnummer=803864734"
        target="_blank"
    >
        BE0803.864.734
    </a>
    <a href="mailto:info@edgeofdusk.com" target="_blank">info@edgeofdusk.com</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms of Service</a>
</div>
<style>
    @media (orientation: portrait) {
        .FooterRooter {
            flex-wrap: wrap-reverse;
            padding: 2em 0;
        }
    }
</style>
